<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Alina Tkachuk — demo</title>

  <!-- Bootstrap CSS and Font -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-expand-lg shadow-sm fixed-top py-3 transition-navbar"
    [class.navbar-transparent]="isScrolled && isMenuCollapsed">
    <div class="container-fluid px-4">
      <a class="navbar-brand brand fw-bold fs-3 ms-md-5" href="#" (click)="closeMenu()">
        <h2>
          <span>Alina</span><br>
          <span class="last-name">Tkachuk</span>
        </h2>
      </a>

      <button class="navbar-toggler" type="button" (click)="toggleMenu()" [attr.aria-expanded]="!isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav" [class.show]="!isMenuCollapsed">

        <ul class="navbar-nav gap-4">
          <li class="nav-item">
            <a class="nav-link fs-5 fw-medium" href="#about" (click)="closeMenu()">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-medium" href="#season" (click)="closeMenu()">Season</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-medium" href="#video" (click)="closeMenu()">Video</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-medium" href="#photos" (click)="closeMenu()">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-medium" href="#reviews" (click)="closeMenu()">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fs-5 fw-medium" href="#contact" (click)="closeMenu()">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- main content -->
  <main>
    <!-- main picture -->
    <section class="hero">
      <h1 class="visually-hidden">Alina Tkachuk</h1>
      <img src="assets/main_pic.jpg" alt="Alina Tkachuk – main" class="w-100 img-fluid" />
    </section>

    <!-- Section only on mobile for Follow -->
    <section class="container-fluid py-4 bg-light d-block d-lg-none">
      <div class="container px-4">

        <h2 class="fw-bold mb-4">Follow Alina</h2>

        <ul class="list-unstyled d-flex flex-column gap-3">

          <!-- Instagram -->
          <li>
            <a href="https://www.instagram.com/alinatkachuk.operasinger?igsh=MWJjZGx6YzdyZWlqeQ%3D%3D&utm_source=qr" class="d-flex align-items-center justify-content-between
                      text-dark text-decoration-none
                      border rounded-3 px-3 py-3">
              <div class="d-flex align-items-center gap-3">
                <i class="bi bi-instagram fs-4"></i>
                <span class="fw-semibold fs-5">Instagram</span>
              </div>

              <i class="bi bi-chevron-right fs-4"></i>
            </a>
          </li>

          <!-- Email -->
          <li>
            <a href="mailto:vfedeli&#64;ateliermusicaleinternational.it" class="d-flex align-items-center justify-content-between
                      text-dark text-decoration-none
                      border rounded-3 px-3 py-3">
              <div class="d-flex align-items-center gap-3">
                <i class="bi bi-envelope fs-4"></i>
                <span class="fw-semibold fs-5">Email</span>
              </div>

              <i class="bi bi-chevron-right fs-4"></i>
            </a>
          </li>

          <!-- Facebook -->
          <li>
            <a href="https://www.facebook.com/share/17rkHPqTh1/?mibextid=wwXIfr" class="d-flex align-items-center justify-content-between
                      text-dark text-decoration-none
                      border rounded-3 px-3 py-3">
              <div class="d-flex align-items-center gap-3">
                <i class="bi bi-facebook fs-4"></i>
                <span class="fw-semibold fs-5">Facebook</span>
              </div>

              <i class="bi bi-chevron-right fs-4"></i>
            </a>
          </li>

        </ul>

        <hr class="mt-4 mb-0 opacity-50">

      </div>
    </section>



    <!-- chapters -->
    <section id="about" class="container-fluid py-5 bg-light">
      <div class="row  px-4 px-md-5 align-items-start">

        <div class="col-md-3 mb-4 mb-md-0">
          <h1 class="display-2 fw-bold mb-0">
            About Alina
          </h1>
        </div>

        <div class="col-md-5 offset-md-2">

          <p class="fs-4 lh-base mb-3">
            Praised for her radiant timbre, refined musicality, and compelling stage presence,
            soprano Alina Tkachuk is rapidly establishing herself among the most promising young
            voices on the international opera scene.
          </p>

          <p class="fs-4 lh-base" *ngIf="expanded.about">
            In 2025 she makes several important debuts:
            Adina (L’elisir d’amore) at the Grand Theatre in Łódź,
            Giulia (La scala di seta) at Teatro Coccia in Novara — where
            Una Voce Poco Fa hailed her performance as “fresh, lively, and full of charm” —
            and Lucy (The Telephone) at Teatro Massimo Bellini in Catania.
            She also appears as Liù (Turandot) at the Puccini Festival in Torre del Lago
            under Alfonso Signorini and Renato Palumbo, where Opera Online praised her
            “lyric glow and emotional sincerity”.
          </p>

          <button class="btn p-0 fw-semibold text-dark fs-4 view-more-btn" (click)="toggle('about')">
            {{ expanded.about ? 'View less' : 'View more' }}
          </button>

        </div>
      </div>

      <div class="section-divider mt-4"></div>
    </section>

    <!-- Season Section ONLY DESKTOP -->
    <section *ngIf="!isMobile" id="season" class="container-fluid py-5 bg-light">
      <div class="row px-4 px-md-5 align-items-start">

        <div class="col-md-3 mb-4 mb-md-0">
          <h1 class="display-2 fw-bold mb-0">
            Season
          </h1>
        </div>

        <div class="col-md-8 offset-md-1">

          <!-- ACCORDION ITEM 01 -->
          <div class="section-divider mt-4"></div>

          <div class="py-4">
            <button class="btn w-100 text-start p-0 shadow-none" type="button" (click)="toggle('accordion01')">
              <h3>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <span class="fw-bold me-3 brand-yellow">01</span>
                    Concert Rossini "Petite Messe Solennelle..."
                  </div>
                  <span class="fs-4 fw-bold">
                    {{ expanded.accordion01 ? '−' : '+' }}
                  </span>
                </div>
              </h3>
            </button>

            <div class="accordion-collapse-custom mt-3" [class.expanded]="expanded.accordion01">
              <div class="accordion-content">
                <div class="d-flex justify-content-between pb-3">
                  <h4>
                    <ul class="small mb-0 brand-list">
                      <li>Trieste, Italy</li>
                      <li>23.12.2025</li>
                    </ul>
                  </h4>

                  <img src="assets/season_accordion_01.jpg" class="img-fluid rounded"
                    style="max-width: 460px; object-fit: cover;" alt="Alina Tkachuk – Trieste">
                </div>
              </div>
            </div>
          </div>

          <!-- ACCORDION ITEM 02 -->
          <div class="section-divider mt-4"></div>

          <div class="py-4">
            <button class="btn w-100 text-start p-0 shadow-none" type="button" (click)="toggle('accordion02')">
              <h3>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <span class="fw-bold me-3 brand-yellow">02</span>
                    Concert Bach "Magnificat"
                  </div>
                  <span class="fs-4 fw-bold">
                    {{ expanded.accordion02 ? '−' : '+' }}
                  </span>
                </div>
              </h3>
            </button>

            <div class="accordion-collapse-custom mt-3" [class.expanded]="expanded.accordion02">
              <div class="accordion-content">
                <div class="d-flex justify-content-between pb-3">
                  <h4>
                    <ul class="small mb-0 brand-list">
                      <li>Teatro Massimo Bellini, Italy</li>
                      <li>February 7 and 8, 2026</li>
                    </ul>
                  </h4>
                  <img src="assets/season_accordion_02.jpg" class="img-fluid rounded"
                    style="max-width: 460px; object-fit: cover;" alt="Alina Tkachuk – Teatro Massimo Bellini">
                </div>
              </div>
            </div>
          </div>

          <!-- ACCORDION ITEM 03 -->
          <div class="section-divider mt-4"></div>

          <div class="py-4">
            <button class="btn w-100 text-start p-0 shadow-none" type="button" (click)="toggle('accordion03')">
              <h3>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <span class="fw-bold me-3 brand-yellow">03</span>
                    Gilda from opera "Rigoletto" G. Verdi
                  </div>
                  <span class="fs-4 fw-bold">
                    {{ expanded.accordion03 ? '−' : '+' }}
                  </span>
                </div>
              </h3>
            </button>

            <div class="accordion-collapse-custom mt-3" [class.expanded]="expanded.accordion03">
              <div class="accordion-content">
                <div class="d-flex justify-content-between pb-3">
                  <h4>
                    <ul class="small mb-0 brand-list">
                      <li>Beijing, China</li>
                      <li>August 24 – September 20, 2026</li>
                    </ul>
                  </h4>
                  <img src="assets/season_accordion_03.jpg" class="img-fluid rounded"
                    style="max-width: 460px; object-fit: cover;" alt="Alina Tkachuk – Beijing">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- Season Section ONLY MOBILE -->
    <section *ngIf="isMobile" id="season" class="container-fluid py-5 bg-light">
      <div class="row px-4">
        <div class="col-12">
          <h1 class="fw-bold mb-2" style="font-size: 3rem;">Season</h1>
          <div class="section-divider mt-3"></div>

          <!-- ===== PAST ===== -->
          <div class="mt-4">
            <div class="fw-bold brand-yellow mb-2">Past</div>

            <!-- item PAST 01 -->
            <div class="py-3">
              <button class="btn w-100 text-start p-0 shadow-none" type="button" (click)="toggle('accordion01')">
                <div class="d-flex align-items-start">

                  <div class="fw-bold brand-yellow me-3" style="min-width: 28px;">
                    01
                  </div>

                  <div class="flex-grow-1">
                    <div class="fw-medium">
                      Concert Rossini "Petite Messe Solennelle"
                    </div>
                    <hr class="my-2" style="opacity: .2;">
                  </div>

                  <div class="fs-4 fw-bold ms-3">
                    {{ expanded.accordion02 ? '×' : '+' }}
                  </div>

                </div>
              </button>

              <div class="accordion-collapse-custom mt-2" [class.expanded]="expanded.accordion01">
                <div class="accordion-content">
                  <div class="d-flex justify-content-between align-items-start gap-3">
                    <ul class="small mb-0 brand-list">
                      <li>Trieste, Italy</li>
                      <li>December—2025</li>
                    </ul>

                    <img src="assets/season_accordion_01.jpg" class="img-fluid rounded"
                      style="max-width: 140px; height: 100px; object-fit: cover;" alt="Alina Tkachuk – Trieste" />
                  </div>
                </div>
              </div>
            </div>

            <!-- item PAST 02 -->
            <div class="py-3">
              <button class="btn w-100 text-start p-0 shadow-none" type="button" (click)="toggle('accordion02')">
                <div class="d-flex align-items-start">

                  <div class="fw-bold brand-yellow me-3" style="min-width: 28px;">
                    02
                  </div>

                  <div class="flex-grow-1">
                    <div class="fw-medium">
                      Concert Bach "Magnificat"
                    </div>
                    <hr class="my-2" style="opacity: .2;">
                  </div>

                  <div class="fs-4 fw-bold ms-3">
                    {{ expanded.accordion02 ? '×' : '+' }}
                  </div>

                </div>
              </button>

              <div class="accordion-collapse-custom mt-2" [class.expanded]="expanded.accordion02">
                <div class="accordion-content">
                  <div class="d-flex justify-content-between align-items-start gap-3">
                    <ul class="small mb-0 brand-list">
                      <li>Catania, Italy</li>
                      <li>February—2026</li>
                    </ul>

                    <img src="assets/season_accordion_02.jpg" class="img-fluid rounded"
                      style="max-width: 140px; height: 100px; object-fit: cover;" alt="Alina Tkachuk – Catania" />
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- ===== FUTURE ===== -->
          <div class="mt-4">
            <div class="fw-bold brand-yellow mb-2">Future</div>

            <!-- item FUTURE 01 -->
            <div class="py-3">
              <button class="btn w-100 text-start p-0 shadow-none" type="button" (click)="toggle('accordion03')">
                <div class="d-flex align-items-start">

                  <div class="fw-bold brand-yellow me-3" style="min-width: 28px;">
                    01
                  </div>

                  <div class="flex-grow-1">
                    <div class="fw-medium">
                      Gilda from opera "Rigoletto" G.Verdi
                    </div>
                    <hr class="my-2" style="opacity: .2;">
                  </div>

                  <div class="fs-4 fw-bold ms-3">
                    {{ expanded.accordion02 ? '×' : '+' }}
                  </div>

                </div>
              </button>

              <div class="accordion-collapse-custom mt-2" [class.expanded]="expanded.accordion03">
                <div class="accordion-content">
                  <div class="d-flex justify-content-between align-items-start gap-3">
                    <ul class="small mb-0 brand-list">
                      <li>Beijing, China</li>
                      <li>August—2026</li>
                    </ul>

                    <img src="assets/season_accordion_03.jpg" class="img-fluid rounded"
                      style="max-width: 140px; height: 100px; object-fit: cover;" alt="Alina Tkachuk – Beijing" />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="section-divider mt-4"></div>
        </div>
      </div>
    </section>

    <!-- Video Section ONLY DESKTOP -->
    <section id="video" class="container-fluid py-5 bg-light" *ngIf="!isMobile">

      <!-- Заголовок -->
      <div class="row px-4 px-md-5 mb-5">
        <div class="col-12">
          <h1 class="display-2 fw-bold">Video</h1>
          <div class="section-divider mt-4"></div>
        </div>
      </div>

      <!-- ===== VIDEO ITEM  1===== -->
      <div class="row px-4 px-md-5 mb-5 py-5">
        <div class="col-12 d-flex justify-content-end position-relative">
          <div class="position-relative" style="width: 85%;">

            <!-- TEXT WINDOW -->
            <div class="position-absolute top-50 start-0 shadow-lg p-4 p-md-5" style="width: 32%; 
                          height: 85%; /* Увеличили высоту относительно картинки */
                          transform: translate(-50%, -50%);
                          z-index: 2;
                          background-color: rgba(255,255,255,0.85);
                          backdrop-filter: blur(10px);
                          overflow-y: auto; /* На случай, если текста станет слишком много */">

              <h3 class="fw-bold mb-2 fs-3">
                Giacomo Puccini – Turandot, Act III<br>
                Liù's Aria: “Tanto amore segreto”
              </h3>

              <p class="small fw-bold mb-5" style="color: var(--brand-yellow); letter-spacing: 0.5px;">
                Puccini Festival – Torre del Lago, Italy 2025
              </p>

              <p class="mb-0 d-none d-md-block fs-5 text-muted" style="line-height: 1.6;">
                Liù — devoted and gentle, she expresses her secret and selfless love for Calaf.
                In “Tanto amore segreto,” her heart is filled with tenderness, longing, and quiet
                passion, revealing her deep loyalty and emotional vulnerability.
              </p>
            </div>

            <!-- VIDEO ITEM -->
            <a role="button" (click)="openVideo('https://www.youtube.com/embed/2EiDaO0zyYE')"
              class="d-block position-relative">

              <img src="assets/video_01.jpg" class="img-fluid w-100 shadow" alt="Alina Tkachuk – Puccini Video">

              <span class="position-absolute top-50 start-50 translate-middle
                            d-flex align-items-center justify-content-center
                            bg-dark bg-opacity-75 rounded-circle" style="width: 70px; height: 70px;">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="white">
                  <polygon points="8,5 19,12 8,19"></polygon>
                </svg>
              </span>
            </a>

          </div>
        </div>
      </div>

      <!-- ===== VIDEO ITEM 2 ===== -->
      <div class="row px-4 px-md-5 mb-5 py-5">
        <div class="col-12 d-flex justify-content-end position-relative">
          <div class="position-relative" style="width: 85%;">

            <div class="position-absolute top-50 start-0 shadow-lg p-4 p-md-5" style="width: 32%; 
                          height: 85%; /* Увеличили высоту относительно картинки */
                          transform: translate(-50%, -50%);
                          z-index: 2;
                          background-color: rgba(255,255,255,0.85);
                          backdrop-filter: blur(10px);
                          overflow-y: auto; /* На случай, если текста станет слишком много */">

              <h3 class="fw-bold mb-2 fs-3">
                Gioachino Rossini –<br>
                “Il mio ben sospiro e chiamo”
              </h3>

              <p class="small fw-bold mb-5" style="color: var(--brand-yellow); letter-spacing: 0.5px;">
                Teatro Coccia, Novara 2025
              </p>

              <p class="mb-0 d-none d-md-block fs-5 text-muted" style="line-height: 1.6;">
                From Gioachino Rossini’s early opera “La scala di seta” (The Silken Ladder).
                Giulia, a young woman secretly married, expresses her love and anticipation
                for her husband Dorvil in this playful and tender aria.
              </p>
            </div>

            <a role="button" (click)="openVideo('https://www.youtube.com/embed/rEPrV0VWCSo?si=NHp-pvHO3Jw-lHNa')"
              class="d-block position-relative">
              <img src="assets/video_02.jpg" class="img-fluid w-100 shadow" alt="Alina Tkachuk – Rossini Video">

              <span class="position-absolute top-50 start-50 translate-middle
                            d-flex align-items-center justify-content-center
                            bg-dark bg-opacity-75 rounded-circle" style="width: 70px; height: 70px;">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="white">
                  <polygon points="8,5 19,12 8,19"></polygon>
                </svg>
              </span>
            </a>

          </div>
        </div>
      </div>

      <!-- ===== VIDEO ITEM 3 ===== -->
      <div class="row px-4 px-md-5">
        <div class="col-12 d-flex justify-content-end position-relative">
          <div class="position-relative" style="width: 85%;">

            <div class="position-absolute top-50 start-0 shadow-lg p-4 p-md-5" style="width: 32%; 
                        height: 85%; /* Увеличили высоту относительно картинки */
                        transform: translate(-50%, -50%);
                        z-index: 2;
                        background-color: rgba(255,255,255,0.85);
                        backdrop-filter: blur(10px);
                        overflow-y: auto; /* На случай, если текста станет слишком много */">

              <h3 class="fw-bold mb-2 fs-3">
                Verdi – “Caro nome”<br>
                Gilda’s Aria (Rigoletto)
              </h3>

              <p class="small fw-bold mb-5" style="color: var(--brand-yellow); letter-spacing: 0.5px;">
                Teatro Massimo Bellini, Italy 2024
              </p>

              <p class="mb-0 d-none d-md-block fs-5 text-muted" style="line-height: 1.6;">
                Gilda — innocent and pure, she discovers love for the first time,
                her heart filled with tenderness, wonder, and passion.
              </p>
            </div>

            <a role="button" (click)="openVideo('https://www.youtube.com/embed/KqV64rnBnXg?si=jLmQRvvcT21r-a_g')"
              class="d-block position-relative">
              <img src="assets/video_03.jpg" class="img-fluid w-100 shadow" alt="Alina Tkachuk – Massimo Bellini Video">

              <span class="position-absolute top-50 start-50 translate-middle
                            d-flex align-items-center justify-content-center
                            bg-dark bg-opacity-75 rounded-circle" style="width: 70px; height: 70px;">
                <svg width="40" height="40" viewBox="0 0 24 24" fill="white">
                  <polygon points="8,5 19,12 8,19"></polygon>
                </svg>
              </span>
            </a>

          </div>
        </div>
      </div>
    </section>

    <!-- Video Section ONLY MOBILE -->
    <section id="video" class="container-fluid py-5 bg-light" *ngIf="isMobile">

      <!-- Заголовок -->
      <div class="row px-4 px-md-5 mb-5">
        <div class="col-12">
          <h1 class="display-2 fw-bold">Video</h1>
          <div class="section-divider mt-4"></div>
        </div>
      </div>

      <!-- ===== VIDEO ITEM 1 ===== -->
      <div class="row px-4 px-md-5 mb-5 d-lg-none">
        <div class="col-12">

          <div class="position-relative">

            <!-- VIDEO PREVIEW -->
            <a role="button" (click)="openVideo('https://www.youtube.com/embed/2EiDaO0zyYE')"
              class="d-block position-relative">

              <img src="assets/video_01.jpg" class="img-fluid w-100 shadow" alt="Alina Tkachuk – Puccini Video"
                style="max-height: 520px; object-fit: cover;">

              <span class="position-absolute top-50 start-50 translate-middle
                            d-flex align-items-center justify-content-center
                            bg-dark bg-opacity-75 rounded-circle" style="width: 64px; height: 64px;">
                <svg width="34" height="34" viewBox="0 0 24 24" fill="white">
                  <polygon points="8,5 19,12 8,19"></polygon>
                </svg>
              </span>
            </a>

            <!-- BOTTOM OVERLAY CARD -->
            <div class="position-absolute start-50 translate-middle-x shadow-lg p-3" style="
                  bottom: -18%;
                  width: 92%;
                  background-color: rgba(255,255,255,0.85);
                  backdrop-filter: blur(10px);
                  border: 1px solid rgba(0,0,0,0.05);
                ">
              <div class="fw-bold mb-1">
                Giacomo Puccini – Turandot, Act III<br>
                Liù's Aria: “Tanto amore segreto”
              </div>

              <div class="small fw-bold" style="color: var(--brand-yellow);">
                Puccini Festival – Torre del Lago, Italy 2025
              </div>
            </div>

          </div>

          <div class="pt-5"></div>

        </div>
      </div>

      <!-- ===== VIDEO ITEM 2 ===== -->
      <div class="row px-4 px-md-5 mb-5 d-lg-none">
        <div class="col-12">

          <div class="position-relative">

            <!-- VIDEO PREVIEW -->
            <a role="button" (click)="openVideo('https://www.youtube.com/embed/rEPrV0VWCSo?si=NHp-pvHO3Jw-lHNa')"
              class="d-block position-relative">

              <img src="assets/video_02.jpg" class="img-fluid w-100 shadow" alt="Alina Tkachuk – Rossini Video"
                style="max-height: 520px; object-fit: cover;">

              <span class="position-absolute top-50 start-50 translate-middle
                            d-flex align-items-center justify-content-center
                            bg-dark bg-opacity-75 rounded-circle" style="width: 64px; height: 64px;">
                <svg width="34" height="34" viewBox="0 0 24 24" fill="white">
                  <polygon points="8,5 19,12 8,19"></polygon>
                </svg>
              </span>
            </a>

            <!-- BOTTOM OVERLAY CARD  -->
            <div class="position-absolute start-50 translate-middle-x shadow-lg p-3" style="
                  bottom: -18%;
                  width: 92%;
                  background-color: rgba(255,255,255,0.85);
                  backdrop-filter: blur(10px);
                  border: 1px solid rgba(0,0,0,0.05);
                ">
              <div class="fw-bold mb-1">
                Gioachino Rossini - "Il mio ben sospiro e chiamo"<br>
                (Giulia's Aria, La scala di seta)
              </div>

              <div class="small fw-bold" style="color: var(--brand-yellow);">
                Teatro Coccia, Novata 2025
              </div>
            </div>

          </div>

          <div class="pt-5"></div>

        </div>
      </div>

      <!-- ===== VIDEO ITEM 3 ===== -->
      <div class="row px-4 px-md-5 mb-5 d-lg-none">
        <div class="col-12">

          <div class="position-relative">

            <!-- VIDEO PREVIEW -->
            <a role="button" (click)="openVideo('https://www.youtube.com/embed/KqV64rnBnXg?si=uZFTu5RETcb2lb6K')"
              class="d-block position-relative">

              <img src="assets/video_03.jpg" class="img-fluid w-100 shadow" alt="Alina Tkachuk – Verdi Video"
                style="max-height: 520px; object-fit: cover;">

              <span class="position-absolute top-50 start-50 translate-middle
                            d-flex align-items-center justify-content-center
                            bg-dark bg-opacity-75 rounded-circle" style="width: 64px; height: 64px;">
                <svg width="34" height="34" viewBox="0 0 24 24" fill="white">
                  <polygon points="8,5 19,12 8,19"></polygon>
                </svg>
              </span>
            </a>

            <!-- BOTTOM OVERLAY CARD -->
            <div class="position-absolute start-50 translate-middle-x shadow-lg p-3" style="
                  bottom: -18%;
                  width: 92%;
                  background-color: rgba(255,255,255,0.85);
                  backdrop-filter: blur(10px);
                  border: 1px solid rgba(0,0,0,0.05);
                ">
              <div class="fw-bold mb-1">
                Verdi - "Caro nome" ! Gilda's Aria (Rigoletto) <br>
                Teatro Massim o Bellini. (Giulia's Aria, La scala di seta)
              </div>

              <div class="small fw-bold" style="color: var(--brand-yellow);">
                Italy 2024
              </div>
            </div>

          </div>

          <div class="pt-5"></div>

        </div>
      </div>


    </section>

    <section id="photos" class="container-fluid py-5 bg-light">
      <div *ngIf="!isMobile">
        <div class="row px-4 px-md-5">
          <div class="col-12 mb-4">
            <h1 class="display-2 fw-bold">Photos</h1>
            <div class="section-divider mt-4"></div>
          </div>
        </div>

        <div class="row g-4 px-4 px-md-5">
          <ng-container *ngFor="let photo of (expanded.more_photos ? photos : photos.slice(0, 3)); let i = index">
            <div class="col-md-4">
              <div class="photo-card">
                <div class="brand-yellow">{{ photos_titles[i][0] }}</div>
                <div class="small text-muted mb-2">{{ photos_titles[i][1] }}</div>
                <div class="small fw-semibold mb-2">{{ photos_descriptions[i] }}</div>
                <div class="ratio ratio-4x3">
                  <img [src]="hoveredPhoto === i ? photo.saturated : photo.normal" class="img-fluid w-100" role="button"
                    (mouseenter)="hoveredPhoto = i" (mouseleave)="hoveredPhoto = null" (click)="openGallery(i)"
                    alt="Alina Tkachuk – Photo in Gallery {{i+1}}" />
                </div>

              </div>
            </div>
          </ng-container>
        </div>

        <div class="text-center mt-4">
          <button class="btn p-0 fw-semibold text-dark view-more-btn" (click)="toggle('more_photos')">
            {{ expanded.more_photos ? 'View less' : 'View more' }}
          </button>
        </div>
      </div>

      <div *ngIf="isMobile">
        <div class="px-4 px-md-5">

          <!-- Заголовок -->
          <div class="row mb-4">
            <div class="col-12">
              <h1 class="display-4 fw-bold">Photos</h1>
              <div class="section-divider mt-3"></div>
            </div>
          </div>

          <div class="row g-3">

            <ng-container *ngFor="let photo of photos.slice(0, 3); let i = index">
              <div class="col-12">
                <div class="photo-card text-center">

                  <img [src]="photo.normal" class="img-fluid w-100 mb-3" style="max-height: 200px; object-fit: cover;"
                    (click)="openGallery(i)" role="button" alt="Alina Tkachuk - Photo in Gallery {{i+1}}"/>

                  <div class="fw-bold small mb-1">{{ photos_titles[i][0] }}</div>
                  <div class="small text-muted">{{ photos_titles[i][1] }}</div>
                  <div class="small">{{ photos_descriptions[i] }}</div>

                </div>
              </div>
            </ng-container>

          </div>

          <div class="row g-3 mt-3" *ngIf="expanded.more_photos">

            <ng-container *ngFor="let photo of photos.slice(3); let j = index">
              <div class="col-6">
                <div class="photo-card text-center">

                  <div class="ratio ratio-4x3 mb-2">
                    <img [src]="photo.normal" class="img-fluid w-100 h-100 object-fit-cover"
                      (click)="openGallery(j + 3)" role="button" alt="Alina Tkachuk - Photo in Gallery {{j+1}}"/>
                  </div>

                  <div class="fw-bold small mb-1">{{ photos_titles[j+3][0] }}</div>
                  <div class="small text-muted">{{ photos_titles[j+3][1] }}</div>
                  <div class="small">{{ photos_descriptions[j+3] }}</div>

                </div>
              </div>
            </ng-container>

          </div>
          <div class="text-center mt-4">
            <button class="btn p-0 fw-semibold text-dark fs-4 view-more-btn" (click)="toggle('more_photos')">
              {{ expanded.more_photos ? 'View less' : 'View more' }}
            </button>
          </div>
        </div>
      </div>
    </section>




    <section id="reviews" class="py-5 bg-dark text-light" style="min-height: 700px;">
      <div class="container-fluid d-flex flex-column" style="height: 100%; min-height: 700px;">

        <div class="row mb-4">
          <div class="col text-center">
            <h1 class="display-2 fw-bold">Press</h1>
          </div>
        </div>

        <div class="row justify-content-center align-items-center flex-grow-1" style="min-height: 400px;">
          <div class="col-md-10">
            <div class="p-4 p-md-5 text-center">

              <h2>
                <a 
                  class="press-link fw-semibold pb-2 d-inline-block"
                  target="_blank"
                  rel="noopener noreferrer"
                  [href]="reviews[currentReview].url"
                >
                  {{ reviews[currentReview].source }}
                </a>
              </h2>

              <p class="fs-5 lh-lg mt-4">
                {{ isMobile ? reviews[currentReview].textMobile : reviews[currentReview].textDesktop }}
              </p>

            </div>
          </div>
        </div>

        <div class="row mt-4 pb-5">
          <div class="col text-center">
            <button class="btn btn-outline-light me-3 px-4" (click)="prevReview()">
              ←
            </button>
            <button class="btn btn-outline-light px-4" (click)="nextReview()">
              →
            </button>
          </div>
        </div>

      </div>
    </section>

    <section id="contact" class="container-fluid bg-light px-0">
      <div class="row g-0 align-items-stretch">

        <!-- LEFT -->
        <div class="col-12 col-lg-8 px-4 px-md-5 py-5">
          <h1 class="fw-bold mb-4 display-2">Contact</h1>

          <div class="row">
            <div class="col-12 col-md-10 col-lg-8 col-xl-9">

              <div *ngIf="contactSuccess" class="text-center py-4 animate__animated animate__fadeIn">
                <div class="mb-3">
                  <span class="display-4 text-success">✔</span>
                </div>
                <h5 class="brand-yellow">Thank you!</h5>
                <p class="text-secondary">Your message has been sent successfully. I'll get back to you soon.</p>
                <button class="btn btn-success" (click)="contactSuccess = false">
                  Send another message
                </button>
              </div>

              <form *ngIf="!contactSuccess" (ngSubmit)="onContactSubmit(fContact)" #fContact="ngForm" novalidate>
                <input type="hidden" name="_subject" value="Website contact — Alina Tkachuk" />

                <div class="mb-3">
                  <label class="form-label brand-yellow">Your full name</label>
                  <input name="name" type="text" class="form-control" required ngModel #nameC="ngModel">
                </div>

                <div class="mb-3">
                  <label class="form-label brand-yellow">Your email address</label>
                  <input name="email" type="email" class="form-control" required email ngModel #emailC="ngModel">
                  <div class="text-danger small" *ngIf="emailC.invalid && (emailC.touched || fContact.submitted)">
                    Valid email is required.
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label brand-yellow">Message</label>
                  <textarea name="message" rows="5" class="form-control" required ngModel #msgC="ngModel"></textarea>
                </div>

                <div class="form-check mb-3 d-flex align-items-center">
                  <input 
                    class="form-check-input mt-0 me-2" 
                    type="checkbox" 
                    name="privacy" 
                    id="privacy" 
                    required 
                    ngModel 
                    #checkC="ngModel"
                  >
                  <label class="form-check-label small text-muted" for="privacy" style="line-height: 1;">
                    I consent to the 
                    <a class="brand-yellow text-decoration-underline" data-bs-toggle="modal" data-bs-target="#privacyModal" style="cursor: pointer;">
                      Privacy Policy
                    </a>
                  </label>
                </div>

                <button type="submit" class="btn btn-dark" [disabled]="fContact.invalid || isSubmittingContact">
                  <span *ngIf="isSubmittingContact" class="spinner-border spinner-border-sm me-2"></span>
                  {{ isSubmittingContact ? 'SENDING...' : 'SUBMIT' }}
                </button>
              </form>


            </div>
          </div>
        </div>

        <!-- RIGHT -->
        <div class="col-12 col-lg-4">
          <div class="h-100 w-100 overflow-hidden">
            <img src="assets/contact.jpg" class="d-block w-100 h-100 contact-img" alt="Alina Tkachuk - Contact">
          </div>
        </div>

      </div>
    </section>



    <footer class="bg-light py-5">
      <div *ngIf="!isMobile" class="container">
        <div class="row gy-4 mt-3">

          <!-- Quick Links -->
          <div class="col-md-4">
            <h6 class="fw-semibold mb-3 text-uppercase">Quick Links</h6>
            <ul class="list-unstyled">
              <li><a href="#about" class="text-decoration-none brand-yellow">About</a></li>
              <li><a href="#season" class="text-decoration-none  brand-yellow">Season</a></li>
              <li><a href="#video" class="text-decoration-none brand-yellow">Video</a></li>
              <li><a href="#gallery" class="text-decoration-none brand-yellow">Gallery</a></li>
              <li><a href="#reviews" class="text-decoration-none brand-yellow">Reviews</a></li>
            </ul>
          </div>

          <!-- Contact -->
          <div class="col-md-4">
            <h6 class="fw-semibold mb-3 text-uppercase">Contact</h6>

            <p class="mb-2">
              <span class="brand-yellow">General Manager:</span><br>
              <a href="https://ateliermusicaleinternational.it/" class="brand-yellow">
                Atelier Musicale International
              </a>
            </p>

            <h6 class="fw-semibold mt-4 mb-2 text-uppercase">Follow Alina</h6>
            <div class="d-flex gap-3 fs-5">
              <a href="https://www.instagram.com/alinatkachuk.operasinger?igsh=MWJjZGx6YzdyZWlqeQ%3D%3D&utm_source=qr" class="text-dark"><i class="bi bi-instagram"></i></a>
              <a href="https://www.facebook.com/share/17rkHPqTh1/?mibextid=wwXIfr" class="text-dark"><i class="bi bi-facebook"></i></a>
              <a href="mailto:vfedeli&#64;ateliermusicaleinternational.it" class="text-dark"><i class="bi bi-envelope"></i></a>
            </div>
          </div>

          <!-- Newsletter -->
          <div class="newsletter-container col-md-4">
            <h6 class="fw-semibold mb-3 text-uppercase">Newsletter</h6>

            <div *ngIf="newsletterSuccess" class="py-3 animate__animated animate__fadeIn">
              <div class="d-flex align-items-center mb-2">
                <span class="text-success me-2">✔</span>
                <h6 class="brand-yellow mb-0">Success!</h6>
              </div>
              <p class="small text-secondary">Thanks for subscribing to my newsletter.</p>
            </div>

            <form *ngIf="!newsletterSuccess" #fNewsletter="ngForm" (ngSubmit)="onNewsletterSubmit(fNewsletter)"
              novalidate>
              <input type="hidden" name="_subject" value="New newsletter subscription">

              <label class="form-label brand-yellow">Your email address</label>
              <input name="email" type="email" class="form-control mb-1" placeholder="email@example.com" required email
                ngModel #emailN="ngModel" [disabled]="isSubmittingNewsletter">

              <div class="text-danger small mb-2" *ngIf="emailN.invalid && (emailN.touched || fNewsletter.submitted)">
                Please enter a valid email.
              </div>

              <button type="submit" class="btn btn-dark w-100 mt-2 d-flex align-items-center justify-content-center"
                [disabled]="fNewsletter.invalid || isSubmittingNewsletter">
                <span *ngIf="isSubmittingNewsletter" class="spinner-border spinner-border-sm me-2"></span>
                {{ isSubmittingNewsletter ? 'SENDING...' : 'SUBMIT' }}
              </button>
            </form>

          </div>

          <div class="text-center mt-4 small">
            <a href="#" class="brand-yellow text-decoration-none" data-bs-toggle="modal" data-bs-target="#privacyModal">
              Privacy Policy
            </a>
            <span class="mx-2 text-muted">|</span>
            <a href="#" class="brand-yellow text-decoration-none" data-bs-toggle="modal"
              data-bs-target="#impressumModal">
              Impressum
            </a>
          </div>

        </div>
      </div>

      <div *ngIf="isMobile" class="container px-4">
        <!-- FOLLOW -->
        <h5 class="fw-bold mb-3">Follow Alina</h5>

        <ul class="list-unstyled d-flex flex-column gap-3 mb-4">

          <!-- Instagram -->
          <li>
            <a href="https://www.instagram.com/alinatkachuk.operasinger?igsh=MWJjZGx6YzdyZWlqeQ%3D%3D&utm_source=qr" class="d-flex align-items-center justify-content-between
                        text-dark text-decoration-none
                        border rounded-3 px-3 py-3">
              <div class="d-flex align-items-center gap-3">
                <i class="bi bi-instagram fs-4"></i>
                <span class="fw-semibold">Instagram</span>
              </div>
              <i class="bi bi-chevron-right fs-5"></i>
            </a>
          </li>

          <!-- Email -->
          <li>
            <a href="mailto:vfedeli&#64;ateliermusicaleinternational.it" class="d-flex align-items-center justify-content-between
                        text-dark text-decoration-none
                        border rounded-3 px-3 py-3">
              <div class="d-flex align-items-center gap-3">
                <i class="bi bi-envelope fs-4"></i>
                <span class="fw-semibold">Email</span>
              </div>
              <i class="bi bi-chevron-right fs-5"></i>
            </a>
          </li>

          <!-- Facebook -->
          <li>
            <a href="https://www.facebook.com/share/17rkHPqTh1/?mibextid=wwXIfr" class="d-flex align-items-center justify-content-between
                        text-dark text-decoration-none
                        border rounded-3 px-3 py-3">
              <div class="d-flex align-items-center gap-3">
                <i class="bi bi-facebook fs-4"></i>
                <span class="fw-semibold">Facebook</span>
              </div>
              <i class="bi bi-chevron-right fs-5"></i>
            </a>
          </li>

        </ul>

        <!-- MANAGER -->
        <div class="mb-4">
          <div class="fw-bold mb-1 fs-5">General manager:</div>
          <a href="https://ateliermusicaleinternational.it/" class="brand-yellow">
            Atelier Musicale International
          </a>
        </div>

        <!-- NEWSLETTER -->
        <div class="newsletter-container col-md-4">
          <h6 class="fw-semibold mb-3 text-uppercase">Newsletter</h6>

          <div *ngIf="newsletterSuccess" class="py-3 animate__animated animate__fadeIn">
            <div class="d-flex align-items-center mb-2">
              <span class="text-success me-2">✔</span>
              <h6 class="brand-yellow mb-0">Success!</h6>
            </div>
            <p class="small text-secondary">Thanks for subscribing to my newsletter.</p>
          </div>

          <form *ngIf="!newsletterSuccess" #fNewsletter="ngForm" (ngSubmit)="onNewsletterSubmit(fNewsletter)"
            novalidate>
            <input type="hidden" name="_subject" value="New newsletter subscription">

            <label class="form-label brand-yellow">Your email address</label>
            <input name="email" type="email" class="form-control mb-1" placeholder="email@example.com" required email
              ngModel #emailN="ngModel" [disabled]="isSubmittingNewsletter">

            <div class="text-danger small mb-2" *ngIf="emailN.invalid && (emailN.touched || fNewsletter.submitted)">
              Please enter a valid email.
            </div>

            <button type="submit" class="btn btn-dark w-100 mt-2 d-flex align-items-center justify-content-center"
              [disabled]="fNewsletter.invalid || isSubmittingNewsletter">
              <span *ngIf="isSubmittingNewsletter" class="spinner-border spinner-border-sm me-2"></span>
              {{ isSubmittingNewsletter ? 'SENDING...' : 'SUBMIT' }}
            </button>
          </form>

        </div>
        <div class="text-center mt-4 small">
          <a class="brand-yellow text-decoration-none" data-bs-toggle="modal" data-bs-target="#privacyModal">
            Privacy Policy
          </a>
          <span class="mx-2">|</span>
          <a class="brand-yellow text-decoration-none" data-bs-toggle="modal" data-bs-target="#impressumModal">
            Impressum
          </a>
        </div>
      </div>
    </footer>

  </main>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>

<!-- Video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content bg-black">

      <div class="modal-body p-0 position-relative">

        <!-- Кнопка закрытия -->
        <button type="button" class="btn-close btn-close-white position-absolute end-0 m-3" data-bs-dismiss="modal"
          aria-label="Close"></button>

        <!-- YouTube iframe -->
        <iframe id="videoFrame" width="100%" height="400" frameborder="0" allow="autoplay; encrypted-media"
          allowfullscreen></iframe>

      </div>
    </div>
  </div>
</div>

<!-- Photo Modal -->
<div class="modal fade" id="photoModal" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-dark">

      <div class="modal-body p-0 overflow-auto">

        <div class="d-flex flex-column align-items-center">

          <ng-container *ngFor="let g of galleryImages; let j = index">

            <div class="w-100 text-center my-3">
              <img [src]="g" class="img-fluid" style="max-height: 85vh; object-fit: contain;" alt="Alina Tkachuk - Photo in Gallery {{ j + 1 }}" />

              <div class="text-white small mt-2">
                {{ j + 1 }} / {{ galleryImages.length }}
              </div>
            </div>

          </ng-container>

        </div>

      </div>

      <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-4" data-bs-dismiss="modal"
        style="z-index: 2000;"></button>

    </div>
  </div>
</div>

<div class="modal fade" id="privacyModal" tabindex="-1" aria-labelledby="privacyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
    <div class="modal-content border-0 shadow-lg" style="border-radius: 0;">

      <div class="modal-header border-0 pb-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body px-4 px-md-5 pb-5 pt-0 text-dark">
        <div class="text-center">
          <h1 id="privacyModalLabel" class="display-5 fw-normal mb-0">Privacy Policy</h1>
          <div style="border-top: 3px solid #dee2e6; width: 80%; margin: 20px auto;"></div>

          <p class="mb-0 px-md-5">
            Welcome to my website. Protecting your personal data is very important to me.
            Below you will find information on how I process data and what rights you have.
          </p>

          <div style="border-top: 3px solid #dee2e6; width: 80%; margin: 20px auto;"></div>
        </div>

        <div class="mt-5">

          <div class="mb-5">
            <h4 style="color: #b08d57;" class="fw-normal">1. Data Controller</h4>
            <p class="mb-3">The person responsible for processing personal data on this website is:</p>
            <p class="mb-0">Alina Tkachuk – Opera Singer</p>
            <p class="mb-3">Email: alina.pevitsa&#64;gmail.com</p>
            <p class="small text-muted">No third parties or agencies are responsible for data processing on this website.</p>
          </div>

          <div class="mb-5">
            <h4 style="color: #b08d57;" class="fw-normal">2. Processing of Personal Data</h4>
            <h6 class="mb-2">This website does not collect or process personal data automatically.</h6>
            <p class="mb-2">Personal data are processed only if you voluntarily provide them, for example 
              by contacting me via email. In such cases, the processed data may include:</p>
            <ul class="list-unstyled ps-3 mb-3">
              <li>• Name </li>
              <li>• Email address </li>
              <li>• Content of your message</li>
            </ul>
            <p>These data are used exclusively to respond to your inquiry.</p>
          </div>

          <div class="mb-5">
            <h4 style="color: #b08d57;" class="fw-normal">3. External Links</h4>
            <p class="mb-2">This website contains links to external websites, including but not limited to:</p>
            <ul class="list-unstyled ps-3 mb-3">
              <li>• YouTube</li>
              <li>• Instagram</li>
              <li>• Websites of theaters and cultural institutions</li>
            </ul>
            <p>I have no control over the content or privacy practices of these external websites. Please refer to their
              respective privacy policies.</p>
          </div>

          <div class="mb-5">
            <h4 style="color: #b08d57;" class="fw-normal">4. Quotes and Articles</h4>
            <p>Any quotes, references, or links to articles used on this website originate from publicly accessible
              sources. No personal data are published without explicit consent.</p>
          </div>

          <div class="mb-5">
            <h4 style="color: #b08d57;" class="fw-normal">5. Biography</h4>
            <p>Information about my professional background, education, and artistic career is published voluntarily and
              serves solely to present my professional opera activities.</p>
          </div>

          <div class="mb-5">
            <h4 style="color: #b08d57;" class="fw-normal">6. Your Rights</h4>
            <p class="mb-2">Under the GDPR, you have the right to:</p>
            <ul class="list-unstyled ps-3 mb-3">
              <li>• Request information about the personal data stored about you</li>
              <li>• Request correction or deletion of your personal data</li>
              <li>• Withdraw your consent to data processing at any time</li>
            </ul>
            <p>For all data protection-related requests, please contact: <strong>alina.pevitsa&#64;gmail.com</strong>
            </p>
          </div>

          <div class="mb-5">
            <h4 style="color: #b08d57;" class="fw-normal">7. Legal basis for processing</h4>
            <p>Personal data are processed based on the user's consent (Art. 6(1)(a) GDPR) and for the purpose of
              responding to inquiries (Art. 6(1)(b) GDPR).</p>
          </div>

                    <div class="mb-5">
            <h4 style="color: #b08d57;" class="fw-normal">8. Data Security</h4>
            <p>This website uses HTTPS and appropriate technical and organizational measures 
              to ensure secure transmission and protection of personal data.
            </p>
          </div>

          <div class="mb-0">
            <h4 style="color: #b08d57;" class="fw-normal">9. Data Retention</h4>
            <p>Personal data are stored only for as long as necessary to respond to 
              your inquiry and are deleted thereafter, unless legal obligations require longer storage.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="impressumModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 shadow-lg">
      <div class="modal-header border-0 pb-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body px-4 px-md-5 pb-5 pt-0 text-center">
        <div class="mb-4">
          <h1 class="display-5 fw-normal mb-1">Impressum</h1>
          <hr class="mx-auto w-50" style="opacity: 0.1;">
        </div>

        <div class="text-start">
          <h3 style="color: #b08d57;" class="fw-normal mb-3 text-center">Contact Information</h3>
          <h6 class="fw-normal mb-3 text-center">Angaben gemäß § 5 DDG</h6>

          <p class="mb-1"><strong>Name:</strong> Alina Tkachuk </p>
          <p class="mb-1"><strong>Address:</strong> Kreuzgasse 5, 03044 Cottbus, Germany</p>
          <p class="mb-1"><strong>Email:</strong> alina.pevitsa&#64;gmail.com</p>
          <p class="mb-1 mb-4"><strong>Phone:</strong> +380939850776 </p>
          <div class="section-divider"></div>
          <h6 class="mt-3 text-center">Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV </h6>
          <p>Alina Tkachuk Kreuzgasse 5 03044 Cottbus Germany</p>

        </div>
      </div>
    </div>
  </div>
</div>